# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml 'mattermost/defaults.yaml' as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'Suse': {},
        'Arch': {},
        'RedHat': {},
  }
  , grain="os_family"
  , merge=salt['pillar.get']('mattermost:lookup'))
%}
{% do default_settings.mattermost.update(os_family_map) %}

{% set mattermost = salt['pillar.get'](
        'mattermost',
        default=default_settings.mattermost,
        merge=True
    )
%}
